.thumbnail {
  object-fit: cover;
  border-radius: 8%;
}

.filter {
  margin: 2.5% 5% 1% 7%;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 5% 5% 7%;
}

.item {
  margin: 10px;
  text-decoration: none;
}
.item:hover {
  text-decoration: underline;
}

.loading {
  margin-top: 2.5%;
}