.thumbnail {
  border-radius: 8%;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  margin: 2.5% 5% 5% 5%;
}

.item {
  margin: 10px;
  text-decoration: none;
}
.item:hover {
  text-decoration: underline;
}