.page {
  display: block;
  margin: auto;
  width: 50%;
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2% auto auto 1%;
}

.nameContainer {
  padding-left: 2%;
}

.name {
  text-decoration: none;
}
.name:hover {
  text-decoration: underline;
}